h1 {
	color: red !important;
	font-size: 20px;
}

h2 ~ a {
	text-decoration: none;
}

#zuitt-motto {
	letter-spacing: 5px;
}

h3 {
	letter-spacing: 25px;
}

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

#bootcamp-learning-list li {
	color: #41337A;
}

.offering-item {
	text-transform: uppercase;
}

input {
	border-width: 1px;
	border-color: red;
	border-style: solid;
}

* {
	font-size: 25px;
}

body > section > form > label {
	color: rgb(0, 0, 255);
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: gray;
}

a:hover {
	background-color: #b4d6de;
}

div	{
	display: inline-block;
	float: right;
}

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

form {
	background-color: seagreen;
	border: 2px solid black;
	height: 200px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}